fastapi
uvicorn
pydantic
python-dotenv
requests
streamlit
langchain
langchain-google-genai
google-generativeai
langchain-community
dotenv
tiktoken
torch
ultralytics
torchvision
pillow
opencv-python
pyyaml